name = "macchain-api"
main = "api/index.js"
compatibility_date = "2024-01-01"
workers_dev = false

# 환경 변수
[vars]
ENVIRONMENT = "production"

# D1 데이터베이스 바인딩
[[d1_databases]]
binding = "DB"
database_name = "macchain-db"
database_id = "cada0c31-d223-4bc9-9839-f9955c59bd32"
